<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<form action="/nosuccess">
<body class="bg-zinc-900 flex mt-60 items-center justify-center">
    <div class="w-90 h-50 bg-red-500 rounded-lg justify-center">
        <h2 class="py-8 px-20 text-white text-2xl">Password is wrong, you can't login</h2>
    </div>
</form>
</body>
</html>